<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleUI.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="DefaultSoap" allowCookies="true" maxReceivedMessageSize="6553600" >
                         
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/AcumaticaDB2019R1040024/entity/Default/18.200.001"
                binding="basicHttpBinding" bindingConfiguration="DefaultSoap"
                contract="AcumaticaEndPoint18.DefaultSoap" name="DefaultSoap" />
        </client>
    </system.serviceModel>
    <userSettings>
        <SimpleUI.Settings1>
            <setting name="User" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="Tenant" serializeAs="String">
                <value>Company</value>
            </setting>
            <setting name="Company" serializeAs="String">
                <value>Products</value>
            </setting>
            <setting name="Locale" serializeAs="String">
                <value>en-US</value>
            </setting>
        </SimpleUI.Settings1>
    </userSettings>
</configuration>