<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="DefaultSoap" allowCookies="true" maxReceivedMessageSize="6553600">
              </binding>  
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/AcumaticaDB2019R1040024/entity/Default/18.200.001"
                binding="basicHttpBinding" bindingConfiguration="DefaultSoap"
                contract="AcumaticaEndPoint18.DefaultSoap" name="DefaultSoap" />
        </client>
    </system.serviceModel>
</configuration>